<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2></h2>
        <p class="lead">Notifier is a <strong><em>spam free</em></strong> mail system, which allows you to get your mails and other messages (e.g. <strong><em>notices</em></strong>) with <strong><em>your consent</em></strong></p>
      </div>
    </div>
    <aside class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3>Click below to get started</h3>
            <a href="#" class="btn btn-lg btn-dark">Sign Up</a>
          </div>
        </div>
      </div>
    </aside>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
